<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355958751810-3c7hbg2j2jno3rh4d9hundmp0cjbcpcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355958751810-3c7hbg2j2jno3rh4d9hundmp0cjbcpcd</string>
	<key>API_KEY</key>
	<string>AIzaSyBvYr7WiOp8yVWJMKDt_tpfRfzeHHK7Ivk</string>
	<key>GCM_SENDER_ID</key>
	<string>355958751810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gotomoon</string>
	<key>PROJECT_ID</key>
	<string>codelab-c9627</string>
	<key>STORAGE_BUCKET</key>
	<string>codelab-c9627.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355958751810:ios:7f7158927808655e4b23db</string>
</dict>
</plist>